<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "mybatis-3-mapper.dtd" >
<mapper namespace="com.ccsu.core.matchTechnologyStatistics.dao.MatchTechnologyMapper">
    <resultMap id="tecMap" type="com.ccsu.core.matchTechnologyStatistics.domain.MatchTechnologyStatistics">
        <id column="id" property="id" jdbcType="INTEGER"/>
        <result column="matchInfoId" property="matchInfo.id" jdbcType="INTEGER"/>
        <result column="ballControlRate" property="ballControlRate" jdbcType="INTEGER"/>
        <result column="shooting" property="shooting" jdbcType="INTEGER"/>
        <result column="shootZ" property="shootZ" jdbcType="INTEGER"/>
        <result column="plugging" property="plugging" jdbcType="INTEGER"/>
        <result column="shooting" property="shooting" jdbcType="INTEGER"/>
        <result column="freeKick" property="freeKick" jdbcType="INTEGER"/>
        <result column="cornerKick" property="cornerKick" jdbcType="INTEGER"/>
        <result column="offside" property="offside" jdbcType="INTEGER"/>
        <result column="substitution" property="substitution" jdbcType="INTEGER"/>
        <result column="foul" property="foul" jdbcType="INTEGER"/>
        <result column="matchPlace" property="matchPlace" jdbcType="INTEGER"/>
        <result column="gmt_create" property="createTime" jdbcType="INTEGER"/>
        <result column="gmt_modified" property="modifiedTime" jdbcType="INTEGER"/>
    </resultMap>

    <!--根据id查询比赛类型信息-->
    <select id="findById" parameterType="Integer" resultMap="tecMap">
        select id,matchInfoId, ballControlRate, shooting, shootZ, plugging, freeKick,
        cornerKick, offside, substitution, foul, matchPlace, gmt_create, gmt_modified
        from tb_match_technical_statistics
        where id = #{id}
    </select>

    <insert id="insertMatchTechnology" parameterType="java.util.ArrayList">
        INSERT INTO tb_match_technical_statistics (matchInfoId, ballControlRate, shooting, shootZ, plugging, freeKick,
        cornerKick, offside, substitution, foul, matchPlace, gmt_create, gmt_modified)
        VALUES
        <foreach collection="list" item="matchTec" separator=",">
            (
            #{matchTec.matchInfo.id},
            #{matchTec.ballControlRate},
            #{matchTec.shooting},
            #{matchTec.shootZ},
            #{matchTec.plugging},
            #{matchTec.freeKick},
            #{matchTec.cornerKick},
            #{matchTec.offside},
            #{matchTec.substitution},
            #{matchTec.foul},
            #{matchTec.matchPlace},
            #{matchTec.createTime},
            #{matchTec.modifiedTime}
            )
        </foreach>
    </insert>

    <select id="findTecByMatchInfoIdAndMatchPlc" resultMap="tecMap">
        select id,matchInfoId, ballControlRate, shooting, shootZ, plugging, freeKick,
        cornerKick, offside, substitution, foul, matchPlace, gmt_create, gmt_modified
        from tb_match_technical_statistics
        where matchInfoId = #{0} AND matchPlace = #{1}
    </select>

</mapper>